
<a href="#" class="cart__back" data-hide></a>



<form action="/cart" method="post" class="cart__container" id="cart__form" novalidate>
	<div class="alert cart__alert fades_out fade_out" data-cart-error><div class="padded"><span data-cart-error-text></span> <a href="#" class="a--underline" data-close-error>{{text.alert_close}}</a></div></div>


	<a href="#" class="cart__close a--highlight" data-hide>X Close</a>

	{{#if model.item_count}}
	<h1 class="highlight small_bottom text_center">Cart</h1>

	{{#each model.items}}
	<div class="cart__item">
		<div class="grid grid--tight_guttered grid--middle">
			<div class="col col--4of12">
				<a href="{{url}}" class="padded padded--tight"><img src="{{image}}"></a>
			</div>

			<div class="col col--5of12">
				<h6 class="small_bottom"><a href="{{url}}"><strong>{{{product_title}}} {{#each variant_options}}{{#if @first}}({{this}}){{/if}}{{/each}}</strong></a><br><span class="highlight">{{{money price}}}</span></h6>
				<p class="small">
					{{#each properties}}{{@key}}: {{this}}<br>{{/each}}
					{{#each variant_options}}{{#if @last}}Size: {{this}}{{/if}}{{/each}}
				</p>
				
			</div>
			<div class="col col--3of12 text_center">
				QTY

				<div class="padded">
					<button class="button--transparent" data-decrement="{{key}}" data-current-quantity="{{quantity}}">-</button>
					<span class="highlight spaced">{{quantity}}</span>
					<button class="button--transparent" data-increment="{{key}}" data-current-quantity="{{quantity}}">+</button>
				</div>

				<a href="#" data-remove-from-cart="{{key}}" class="a--underline small">{{../text.remove}}</a>
			</div>
		</div>
	</div>
	{{/each}}

	<div class="padded">
		<h5 class="text_center"><span class="strong">{{text.subtotal}}:</span> <span class="highlight">{{{money model.total_price}}}</span></h5>

		<button type="submit" name="checkout" class="button--big button--full" {{#unless model.item_count}}disabled{{/unless}}>{{text.checkout}}</button>
	</div>

	{{else}}
	<div class="padded padded--thick text_center">
		<h1>{{text.empty}}</h1>
	</div>
	{{/if}}
</form>

