<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="turbolinks-cache-control" content="no-cache">

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}


  {% include 'meta' %}


  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono:400,700">

  {{ 'all.css' | asset_url | stylesheet_tag }}


  {{ content_for_header }}
  
</head>


<body id="{{ page_title | handle }}" class="{% if customer %}logged_in{% endif %}">

  {% section 'header' %}

  <div class="main" role="main">
  {{ content_for_layout }}
  </div>

  {% include 'cart' %}  

  {% section 'footer' %}
  {% section 'newsletter_popup' %}
  {% section 'country_selector' %}

  <script src="//cdn.jsdelivr.net/g/jquery@3.1.0,underscorejs@1.8.3,backbonejs@1.3.3,handlebarsjs@4.0.5(handlebars.runtime.js),velocity@1.2.3" data-turbolinks-eval="false"></script>
  <script src="//unpkg.com/flickity@2/dist/flickity.pkgd.min.js" data-turbolinks-eval="false"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.0/turbolinks.min.js" async data-turbolinks-eval="false"></script>

  <!-- {% include 'currencies' %} -->
  {% include 'scripts' %}

  <script src="{{'templates.js' | asset_url}}" data-turbolinks-eval="false"></script>
  <script src="{{'app.js' | asset_url}}" data-turbolinks-eval="false"></script>


  <script src="//localhost:9000/livereload.js" async data-turbolinks-eval="false"></script>

</body>
</html>
