

<header class="header" data-section-id="{{ section.id }}" data-section-type="header-section" id="header" data-header>
  

  <nav class="grid grid--middle" data-navigation>
    <div class="col col--4of12 hide_on_tablet_portrait">
      {% for link in linklists['3-0-menu'].links %}
      <a href="{{ link.url }}" class="nav__link{% if link.active %} nav__link--active{% endif %}">{{link.title}}</a>
      {% endfor %}
    </div>

    <div class="col col--4of12 tablet_portrait_only">
      {% for link in linklists['mobile-menu'].links %}
      <a href="{{ link.url }}" class="nav__link{% if link.active %} nav__link--active{% endif %}">{{link.title}}</a>
      {% endfor %}
    </div>

    <div class="col col--4of12 text_center">
      <a href="/" class="a--highlight">
        {% include 'icon-logo', w: '100%' %}
      </a>
    </div>

    <div class="col col--4of12 text_right">
      {% if section.settings.message %}
      <span class="nav__link hide_on_tablet_landscape">
        {% if section.settings.message_link != blank %}
          <a href="{{ section.settings.message_link }}">
            {{ section.settings.message_text }}
          </a>
        {% else %}
          <span>{{ section.settings.message_text }}</span>
        {% endif %}
      </span>
      {% endif %}

      {% comment %} {% for link in linklists['content-menu'].links %}
      {% unless link.active %}
      <a href="{{ link.url }}" class="nav__link{% if link.active %} nav__link--active{% endif %} hide_on_tablet_portrait">{{link.title}}</a>
      {% endunless %}
      {% endfor %} {% endcomment %}

      <a href="/cart" class="nav__link{% if cart.item_count != 0 %} nav__link--active{% endif %}" data-toggle-cart>
        Cart (<span data-item-count>{{ cart.item_count }}</span>)
      </a>
    </div>
  </nav>
</header>



{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "message",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "text",
      "id": "message_text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "message_link",
      "label": "Announcement link",
      "info": "Optional"
    }
  ]
}
{% endschema %}
