

<header class="header" data-section-id="{{ section.id }}" data-section-type="header-section" id="header" data-header>
  {% if section.settings.message %}
  <div class="alert header__alert hide_on_phone">
    {% if section.settings.message_link != blank %}
      <a href="{{ section.settings.message_link }}" class="alert__message">
        {{ section.settings.message_text }}
      </a>
    {% else %}
      <span class="alert__message">{{ section.settings.message_text }}</span>
    {% endif %}
  </div>
  {% endif %}

  <nav class="padded padded--thick grid grid--middle" data-navigation>
    {% if collection == blank %}
    <div class="col col--4of12 hide_on_tablet_portrait">
      {% for link in linklists['main-menu'].links %}
      {% unless link.active %}
      <a href="{{ link.url }}" class="nav__link">{{link.title}}</a>
      {% endunless %}
      {% endfor %}
    </div>

    <div class="col col--4of12 tablet_portrait_only">
      {% for link in linklists['mobile-menu'].links %}
      {% unless link.active %}
      <a href="{{ link.url }}" class="nav__link">{{link.title}}</a>
      {% endunless %}
      {% endfor %}
    </div>
    {% else %}
    <div class="col col--4of12">
      <a href="/collections" class="nav__link">< View all</a>
    </div>
    {% endif %}

    <div class="col col--4of12 text_center">
      <a href="/">
        <picture class="header__logotype">
          <source srcset="{{'favicon.png'| asset_url }}" media="(max-width: 600px)">
          <img src="{{'easylover-logo.gif'| asset_url }}" alt="Easy Lover Club">
        </picture>
      </a>
    </div>

    <div class="col col--4of12 text_right">
      <a href="/cart" class="nav__link" data-toggle-cart>
        <span class="hide_on_tablet_portrait">Your </span>Cart (<span data-item-count>{{ cart.item_count }}</span>)
      </a>
    </div>
  </nav>
</header>



{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "message",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "text",
      "id": "message_text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "message_link",
      "label": "Announcement link",
      "info": "Optional"
    }
  ]
}
{% endschema %}
