
{% assign current_variant = product.selected_or_first_available_variant %}

{% if product.type == 'Custom' %}
{% assign current_variant_shirt = current_variant.option1 %}
{% assign current_variant_colour = current_variant.option2 %}
{% assign current_variant_size = current_variant.option3 %}
{% else %}
{% assign current_variant_colour = current_variant.option1 %}
{% assign current_variant_size = current_variant.option2 %}
{% endif %}


<article class="product product--{{current_variant_colour|handleize}} {% if product.type == 'Custom' %}product--custom{% endif %} border_bottom" itemscope itemtype="http://schema.org/Product" data-section-id='{{section.id}}' data-section-type='product' data-product-id="{{product.id}}">
	<meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ product.featured_image | img_url: 'original' }}">
	<meta itemprop="type" content="{{ product.type }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
	
	<div class="grid grid--center grid--top" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		<meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
		<div class="col col--6of12 col--tablet_portrait--10of12 col--phone--12of12 padded padded--thick">
			{% if product.type == 'Custom' %}
			<div class="relative">
				{% if current_variant.image != blank %}
					{% include 'picture', image: current_variant.image %}
				{% else %}
					{% include 'picture', image: product.featured_image %}
				{% endif %}
				<span class="product__custom_text" id="name_text" data-custom-text data-turbolinks-permanent>Lover</span>
			</div>
			{% else %}
			<div data-product-images>
			{% for image in product.images %}
				{% include 'picture', image: image %}
			{% endfor %}
			</div>
			{% endif %}
		</div>

		<div class="col col--6of12 col--tablet_portrait--10of12 col--phone--12of12 padded padded--thick grid">
			<h1 class="tiny_bottom col col--12of12 col--phone--first">{{product.title}}</h1>
			<h4 class="medium_bottom col col--12of12 col--phone--first">{% include 'price' %}</h4>

			{% if product.description != "" %}
			<div class="col col--12of12">{{product.description}}</div>
			{% else %}	
			<p>Bonjour, welcome to the shop. I’ve been working on these ideas for the past years: some bad, some good. Feel free to browse. You touch, you buy. 100% cotton.</p>
			{% endif %}
			

			<form class="{% if product.type != 'Custom' %}product__form{% endif %} col col--phone--first normal_bottom" data-add-to-cart-form>
				{% if product.type == 'Custom' %}

				<fieldset id="name_fieldset" data-turbolinks-permanent>
					<label class="label--tiny">1. Enter your lover’s name</label>
					<input type="text" name="name" placeholder="Lover" maxlength="13">
					<small>* Final print files might be adjusted slightly.</small>
				</fieldset>

				<fieldset id="style_fieldset" data-turbolinks-permanent>
					<label class="label--tiny">2. Style</label>
					<select name="style">
						<option value="Street">Street</option>
						<option value="Classy">Classy</option>
						<option value="Fun">Fun</option>
					</select>
				</fieldset>

				<fieldset id="position_fieldset" data-turbolinks-permanent>
					<label class="label--tiny">3. Placement</label>
					<select name="position">
						<option value="Center">Center</option>
						<option value="Pocket">Pocket</option>
					</select>
				</fieldset>

				<fieldset>
					<label class="label--tiny">4. Select type</label>
					{% for variant in product.variants %}
					{% if current_variant_size == variant.option3 and current_variant_colour == variant.option2 %}
					<input type="radio" name="shirt" {% if variant.option1 == current_variant_shirt %}checked{% endif %} value="{{variant.id}}" id="shirt_{{variant.id}}">
					<label for="shirt_{{variant.id}}">{{variant.option1}}</label>
					{% endif %}
					{% endfor %}
				</fieldset>

				<fieldset>
					<label class="label--tiny">5. Colour</label>
					{% for variant in product.variants %}
					{% if current_variant_size == variant.option3 and current_variant_shirt == variant.option1 %}
					<input type="radio" name="colour" {% if variant.option2 == current_variant_colour %}checked{% endif %} value="{{variant.id}}" id="color_{{variant.id}}">
					<label for="color_{{variant.id}}">{{variant.option2}}</label>
					{% endif %}
					{% endfor %}
				</fieldset>

				<fieldset>
					<label class="label--tiny">6. Size</label>
					<select name="size">
					{% for variant in product.variants %}
					{% if current_variant_colour == variant.option2 and current_variant_shirt == variant.option1 %}
					<option {% if variant.option3 == current_variant_size %}selected{% endif %} value="{{variant.id}}" {% unless variant.available %}disabled{% endunless %}>{{variant.option3}}</option>
					{% endif %}
					{% endfor %}
					</select>
				</fieldset>

				{% elsif product.available %}

				<fieldset>

					{% if current_variant_size == blank %}

					<label class="label--tiny">1. Size</label>
					<select name="size">
					{% for variant in product.variants %}
					<option value="{{variant.id}}" {% unless variant.available %}disabled{% endunless %}>{{variant.option1}}</option>
					{% endfor %}
					</select>

					{% else %}

					<label class="label--tiny">1. Colour</label>
					{% for variant in product.variants %}
					{% if current_variant_size == variant.option2 %}
					<input type="radio" name="colour" {% if variant.option1 == current_variant_colour %}checked{% endif %} value="{{variant.id}}" id="color_{{variant.id}}">
					<label for="color_{{variant.id}}">{{variant.option1}}</label>
					{% endif %}
					{% endfor %}

					<label class="label--tiny">2. Size</label>
					<select name="size">
					{% for variant in product.variants %}
					{% if current_variant_colour == variant.option1 %}
					<option {% if variant.option2 == current_variant_size %}selected{% endif %} value="{{variant.id}}" {% unless variant.available %}disabled{% endunless %}>{{variant.option2}}</option>
					{% endif %}
					{% endfor %}
					</select>

					{% endif %}

					
					
				</fieldset>

				{% endif %}

				{% if product.available %}
				<button class="button--black button--full normal_top" type="submit">Add to cart</button>
				{% else %}
				<label class="normal_top">Notify me when available:</label>
				<a href="https://launch.easylover.club/squeeze-page21569744" class="button button--black button--full" target="_blank">Join waitlist</a>
				{% comment %} <form action="https://club.us15.list-manage.com/subscribe/post?u=83beb197c95f99eace651cef8&amp;id=a4086ebd5d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
					<label for="mce-EMAIL">Notify me when available:</label>
					<input type="email" value="" placeholder="easy.lover@gmail.com" name="EMAIL" class="required email" id="mce-EMAIL">
					<input type="hidden" value="{{product.title|replace:'"', ''}}" name="PRODUCT" id="mce-PRODUCT">

				  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_83beb197c95f99eace651cef8_a4086ebd5d" tabindex="-1" value=""></div>
				  <button type="submit" class="button--black button--tight normal_top">Send Request</button>
				</form> {% endcomment %}
				{% endif %}

				<p class="p--small medium_top">Allow between <strong>7 to 10 business days</strong> between the moment your order is placed and the moment you get your Easy Lover Club steez in the postbox. Thank you for your patience.</p>
			</form>
		</div>
	</div>


	{% assign related_products = false %}
	{% for tag in product.tags %}
	{% if all_products[tag] != blank %}{% assign related_products = true %}{% endif %}
	{% endfor %}

	{% if related_products %}
	<div class="padded padded--thick text_center border_bottom"><h2 class="h2--huge">You might be interested in</h2></div>

	<div class="grid grid--stretch grid--center">
	{% for tag in product.tags %}
	{% if all_products[tag] != blank %}
	{% include 'collection_product', product: all_products[tag] %}
	{% endif %}
	{% endfor %}
	</div>
	{% endif %}
</article>

