
<section data-section-id="{{id}}" class="padded padded--thick text_center {% if dark == 'dark' %}dark_back{% else %}highlight_back{% endif %}">
	{% form 'contact' %}
	<h3>{{title}}</h3>
	<hr>
	<div class="medium_bottom">{{body}}</div>


	{% if form.posted_successfully? %}
	<p>{{ 'contact.form.post_success' | t }}</p>
	{% endif %}

	{% if form.errors? %}
	<p>Your contact form has {{ form.errors | size | pluralize: "an error", "a few errors" }}. To submit your form, make the following changes and try again:</p>
	<ul>
		{% for field in form.errors %}
		<li>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</li>
		{% endfor %}
	</ul>
	{% endif %}

	<p>
		<label for="name">{{ 'contact.form.name' | t }}</label>
		<input type="text" required id="name" name="contact[name]">
	</p>
	<p>
		<label for="email">{{ 'contact.form.email' | t }}</label>
		<input type="email" required id="email" name="contact[email]">
	</p>
	<p>
		<label for="telephone">{{ 'contact.form.phone' | t }}</label>
		<input type="tel" id="telephone" name="contact[phone]">
	</p>
	<p>
		<label for="message">{{ 'contact.form.message' | t }}</label>
		<textarea required rows="10" id="message" name="contact[body]"></textarea>
	</p>
	<p>
		<input type="submit" class="button button--white" value="{{ 'contact.form.submit' | t }}" />
	</p>
	{% endform %}
</section>