<section data-section-id="{{id}}" class="grid grid--center padded padded--thick">
	<div class="col col--8of12 col--tablet_landscape--9of12 col--tablet_portrait--10of12 col--phone--12of12 hero hero--medium {% if dark == 'dark' %}dark_back{% else %}light_back{% endif %}" {% if image != blank %}style="background-image: url({{image | img_url: 'original'}})"{% endif %}>
		<div class="text_center">

			<h1 class="{% if text_size == 'large' %}h1--massive{% endif %}">{{title}}</h1>

			{% if button_link %}<a href="{{button_link}}" class="a--with_arrow">{{button_text}} <svg class="icon"><use xlink:href="#icon-right"></use></svg></a>{% endif %}
			
		</div>
	</div>
</section>